services:
  app:
    build: .
    container_name: snippet-dashboard-app
    ports:
      - "3000:3000"

    env_file: .env
    volumes:
      - app_data:/app/data
    restart: unless-stopped

volumes:
  app_data:
