<!DOCTYPE html>
<html lang="en" class="<%- locals.theme || 'light' %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> // Admin</title>
    <link href="/css/app.css" rel="stylesheet" />
  </head>
  <body
    class="bg-white text-black font-mono transition-colors duration-300 dark:bg-gray-900 dark:text-gray-200"
  >
    <div class="grid min-h-screen grid-cols-1 lg:grid-cols-5">
